<!DOCTYPE html>
<html>
  <head>
    <title>Cuymonapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="sb-nav-fixed">
  <%= render "layouts/top_navigation" %>
  <%= render "layouts/side_navigation" %>
    <%= yield %>
  </body>
  
</html>
